@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 50px 32.5%; 
}


blockquote {
    margin: 0 0 15px;
}

section {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 32px;
}


.inverted-colors {
    background-color: black;
    color: white;
}

.inverted-colors .user-role {
    color: darkgray;
}


.carousel-comp {
    margin: 32px auto;
}

.carousel-unselected {
    transform: scale(0.75, 0.75);
    opacity: 50%;
}


.card-type3 .user-name {
    margin: 0 0 8px;
}

.card-type1 .user-name, .card-type2 .user-name {
    margin: 0 0 2px;
}


.card-type1 .user-role, .card-type2 .user-role {
    font-size: 12px;
    margin: 0;
}

.card-type3 .user-role {
    font-size: 16px;
    margin: 0 0 24px;
}


.card-type1 .user-icon, .card-type2 .user-icon, .card-type4 .user-icon {
    border-radius: 50%;
}

.card-type3 .user-icon {
    border-radius: 16px;
}


.card-type1 {
    width: 100%;
}

.card-type1 .user-info {
    width: 80%;
    padding: 15px;
    border-radius: 10px;
}

.card-type1-user, .card-type2-user {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}


.card-type2 {
    width: 90%;
    padding: 15px;
    margin: auto;
    margin-right: 0;

    border: 1px solid black;
    border-radius: 10px;
}


.card-type3 {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    text-align: justify;
}

.card-type3 .user-info {
    margin-left: 12px;
    padding: 12px 24px;
    border-radius: 10px;
}


.card-type4 {
    width: 100%;
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

.card-type4 .user-info {
    width: 80%;
    margin: 32px auto;
}